body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.message {
  text-transform: capitalize;
}
.bg-custom {
  background-color: #26507b;
}

.my-icon{
  color: yellow;
}
.row .col {
  min-height: 35%;
  width:18%;
  
  border: 1px solid #dbdad7;

  text-align: center;
  font-size: 30px;
}
.icon-1{
  color:rgb(0, 128, 255);
}
.icon-2{
  color:orange;
}
.icon-3{
  color:red;
}
.icon-4{
  color:green;
}